@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://allfont.net/allfont.css?fonts=digital-7-mono');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.radio{
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 224px;
  height: 591px;
  background-image: url("../img/radio.png");
  user-select: none;
  .btn{
    position: absolute;
    top: 32%;
    right: 19%;
    width: 40px;
    height: 35px;
    cursor: pointer;
  }
  .screen{
    position: absolute;
    width: 163px;
    height: 197px;
    bottom: 106px;
    right: 30px;
    background-image: url("../img/screen.png");
    font-family: 'Digital-7 Mono', sans-serif !important;
    .title{
      position: absolute;
      font-weight: bold;
      font-size: 60px;
      left: 50%;
      top: -15%;
      transform: translate(-50%, 50%);
    }
    .connect{
      position: absolute;
      bottom: -10px;
      text-transform: uppercase;
      border: 2px #0C0D16 solid;
      padding: 3px 10px 3px 10px;
      font-size: 20px;
      left: 50%;
      cursor: pointer;
      font-family: 'Digital-7 Mono', sans-serif;
      font-weight: 600;
      transform: translate(-50%, -50%);
      border-radius: 5px;
    }
    .iarea{
      position: absolute;
      text-align: center;
      left: 50%;
      bottom: 88px;
      transform: translate(-50%, 50%);
      max-width: 95%;
      span{
        max-width: 100%;
        font-size: 20px;
        font-weight: bold;
      }
      input[type=number] {
        background: transparent;
        border: 2px black solid;
        border-right: 0;
        border-left: 0;
        padding: 20px 0 20px 0;
        font-size: 30px;
        outline: none;
        max-width: 100%;
        text-align: center;
        font-family: 'Digital-7 Mono', sans-serif;
      }
    }
  }
}

#tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}

#tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}